html,
body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 6em;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  color: white;
}

#controls {
  text-align: center;
  margin: 20px;
}

#controls input,
#controls button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 5px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #fff;
}

.card-content {
  padding: 20px;
  font-family: "Verdana", sans-serif;
  color: #444;
}

.card-content h2 {
  margin-top: 0;
  font-size: 22px;
  color: #333;
}

.card-content p {
  margin: 10px 0;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  background-color: #666;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}
